@import './variables.scss';

#large-activity-container {
  flex-grow: 3;
  padding: 3%;
  text-align: center;
  color: $base-color;
}

// #all-activities {

// }

#Activity {
  text-align: start;
  margin: 3%;
  border: solid 1px lighten($color: $base-color, $amount: 20);
  border-radius: 0.2rem;
  padding: 2%;
  box-shadow: 2px 2px 5px lighten($color: $base-color, $amount: 45);
  background-color: lighten($color: $base-color, $amount: 85);
  position: relative;
}

.delete-icon {
  position: absolute;
  padding: 0;
  height: auto;
  top: 0rem;
  right: 1rem;
  font-size: 2rem;
}
